<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>
  <body>
    <form id="upcForm" action="/upcs/create" title="" method="post">
        <div>
            <label class="upc">UPC: </label>
            <input type="text" id="upc" name="upc" >
        </div>
        <div>
            <label class="product_name">Product name: </label>
            <input type="text" id="product_name" name="product_name" >
        </div>
        <div>
            <input type="submit" id="submitButton"  name="submitButton" value="Submit">
        </div>
      </form>
    <script type='text/javascript'>
        $("#upcForm").submit(function(event) {
          event.preventDefault();
          var $form = $( this ),
              url = $form.attr( 'action' );
          var posting = $.post( url, { upc: $('#upc').val(), product_name: $('#product_name').val() } );
          posting.done(function( data ) {
            alert('success');
          });
        });
    </script>
  </body>
</html>
